<section id="casting">
    <h1>Casting</h1>
    <div class="wrapper">
        <p>Pratiques agiles, solutions ergonomiques, actions de R&amp;D d'envergure… Notre escouade est réactive, ses
            méthodes fiables, fortes de solides fondements techniques pour mener des projets complexes, avec une
            expérience reconnue pour Java. L'équipe des Troopers se complète et peut, à l’envie, se substituer,
            garantissant ainsi un dialogue-client ininterrompu.</p>
        <p>Co-organisation de <a href="https://touraine.tech/">TouraineTech</a>,
            du <a href="https://www.meetup.com/fr-FR/GDG-Tours">Google Developer Group</a>,
            hébergement d’un <a href="http://opendevicelab.code-troopers.com">Open Device Lab</a>,
            participation au Startup Weekend Tours ainsi qu’au Hackathon Citoyen…
            Impliqué dans la scène developpement locale, Code-Troopers participe régulièrement aux projets numériques du
            bassin tourangeau et au-delà.
        </p>
        <div class="wrapper-center">
            <a href="https://team.code-troopers.com" class="btn">Découvrez les Troopers</a>
        </div>
    </div>
</section>
